<div class="container">

	<h1>Welcome!</h1>

	<div class="row">
		<div class="col">
			<h5>Home#index</h5>
		</div>
	</div>	

	<div class="row">
		<div class="col">
			<h5>Find me in app/views/home/index.html.erb</h5>
		</div>
	</div>

</div>